<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>

        <Logger name="org.hibernate.SQL" level="WARN">
            <AppenderRef ref="Console"/>
        </Logger>
        <!--        enable this if you want to see what is passed to prepared statements
                if you want to see prepared statement, turn on show_sql-->
        <!--        <Logger name="org.hibernate.type" level="TRACE">
                    <AppenderRef ref="Console"/>
                </Logger>-->
        <Logger name="org.hibernate" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="debug" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>